.header-container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  @include respond-to(tablet-only) {
    padding-top: 20px;
  }
}
.logo {
  display: block;
}

.navigation__list {
  display: block;

  @include respond-to(tablet-only) {
    margin-top: 32px;
  }
  @include respond-to(desktop) {
    display: flex;
    flex-direction: row;
  }
}

.navigation__item {
  @include respond-to(tablet-only) {
  }
}
.navigation__item:not(:first-child) {
  @include respond-to(tablet-only) {
    margin-top: 22px;
  }
  @include respond-to(desktop) {
    margin-left: 35px;
  }
}

.navigation__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $font-white;

  @include transit(color);
  &:hover {
    color: $font-accent;
  }

  @include respond-to(tablet-only) {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }
}
.buyNowButton {
  display: none;
  @include respond-to(desktop) {
    display: block;
  }
}

.buyNowButton--menu {
  min-width: 186px;
  @include respond-to(desktop) {
    display: none;
  }
}

.buyNow--sign {
  margin-left: 15px;
  font-size: 18px;
  line-height: 1.2;
}

// --------------------- кнопка при открытом меню-------------------------
.menu__burger {
  display: none;
  @include respond-to(tablet-only) {
    display: block;
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
}

.menu__burger span,
.menu__burger::after,
.menu__burger::before {
  position: absolute;
  right: 0;
  height: 10%;
  width: 100%;
  transition: all 200ms $cubic;
  background-color: $font-white;
}

.menu__burger::after,
.menu__burger::before {
  content: '';
}

.menu__burger::before {
  top: 0;
}

.menu__burger::after {
  bottom: 0;
}

.menu__burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

// --------------------- ^^^^^^ кнопка при открытом меню ^^^^^-------------------------

// --------------------- кнопка при закрытом меню-------------------------
.menu__burger--menu-close {
  display: none;
  @include respond-to(tablet-only) {
    display: block;
    position: relative;
    top: 0;
    right: 25px;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
}

.menu__burger--menu-close span,
.menu__burger--menu-close::after,
.menu__burger--menu-close::before {
  position: absolute;
  right: 0;
  height: 10%;
  width: 100%;
  transition: all 200ms $cubic;
  background-color: $font-white;
}

.menu__burger--menu-close::after,
.menu__burger--menu-close::before {
  content: '';
}

.menu__burger--menu-close::before {
  top: 0;
}

.menu__burger--menu-close::after {
  bottom: 0;
}

.menu__burger--menu-close span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu__burger--menu-is-open {
  display: none;
}

// --------------------- ^^^^^^ кнопка при закрытом меню ^^^^^-------------------------
.navigation__menu {
  @include respond-to(tablet-only) {
    position: fixed;
    top: 0;
    right: 0;

    text-align: start;
    width: 250px;
    height: 100%;
    background-color: $bg-menu-mob;
    padding: 80px 30px 30px 30px;
    transform: translate(100%, 0);

    transition: transform 250ms $cubic;
  }
}

.navigation__menu--is-active {
  transform: translate(0, 0);
  position: fixed;
}
